
  /*  Global Styling  */

* {
  margin:0;
  padding:0;
}

body {
  width:100%;
  height:100%;
  font-family:'Open Sans';
  font-size:18px;
}

div.container {
  display:block;
  width:100%;
  margin:0 auto;
  text-align:center;
}

div.center {
  position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

div.container div.sub-container {
  display:block;
  width:90%;
}

div.login input {
  display:block;
  margin:0 auto;
  margin-top:25px;
  border:none;
  padding:10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.button {
  display:inline-block;
  font-size:12px;
  border:1px solid white;
  padding:10px;
  text-transform: uppercase;
  margin-left:5px;
  margin-right:5px;
  margin-top:25px;
  cursor:pointer;
  text-decoration:none;
  color:white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a.button:hover {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border:1px solid white;
  padding:9px;
}

a.selected {
  -webkit-box-shadow: inset 0px 0px 229px -57px rgba(255,0,0,0.76);
  -moz-box-shadow: inset 0px 0px 229px -57px rgba(255,0,0,0.76);
  box-shadow: inset 0px 0px 229px -57px rgba(255,0,0,0.76);
  border:none;
}

  /*  Header Styling  */

header {
  display:block;
  width:100%;
  height:100vh;
  background-image: url("../assets/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
}

header nav {
  text-align:right;
  display:block;
  padding:5px 25px;
}

header nav img {
  display:block;
  float:left;
  margin-top:3px;
  width:45px;
  height:45px;
}

header nav h3 {
  text-align:left;
  float:left;
  margin-top:2px;
  font-size:30px;
  color:#999;
}

header nav h3 span {
  color:red;
}

header nav a {
  font-size:15px;
  height:100%;
  display:inline-block;
  cursor:pointer;
  padding:0px 25px;
  color:#666;
  padding:15px 15px;
}

header nav a:hover, header nav a.active {
  color:#fff;
  border-bottom:1px solid red;

}

  /*  Container Styling  */

div.showcase {
  margin:0 auto;
}

div.showcase h1 {
  display:inline-block;
  padding:15px;
  border:1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing:10px;
  color:#999;
}

div.showcase h1 span {
  color:red;
}

div.showcase h4 {
  margin-top:25px;
  padding:15px 0px;
  font-weight: 100;
  letter-spacing: 2px;
  font-size:18px;
}

  /*  Footer Styling  */

footer {
  display:block;
  background:black;
  color:#fff;
}

div.footer {
  padding:10px 0px;
  color:#999;
}

div.footer span {
  color:red;
}

  /*  Featrues Styling  */

div.featrue-container {
  margin:0 auto;
  margin-top:55px;
  color:#999;
}

div.featrue-container a.feature {
  display:inline-block;
  padding:15px;
  margin-top:15px;
}

div.featrue-container h2 {
  padding:15px;
  border-bottom:1px solid red;
}

div.featrue-container h6 {
  margin-top:10px;
}

div.featrue-container a.feature span {
  color:red;
}

  /*  DropDown Box Styling  */

div.container-drop {
  display:block;
  border:1px solid white;
  width:250px;
  margin:0 auto;
  margin-top:25px;
}

div.container-drop div.drop-header {
  display:block;
}

div.container-drop a.drop-trigger {
  display:inline-block;
  width:19.5%;
  height:25px;
  float:left;
  border-left:1px solid white;
  cursor:pointer;
}

div.container-drop div.drop-contents {
  width:100%;
}

div.container-drop div.drop-contents a {
  display:block;
  width:100%;
  padding:5px 0px;
  font-size:13px;
  cursor:pointer;
  text-align:left;
  padding-left:10px;
  transition: .2s all;
}

div.container-drop div.drop-contents a:hover {
  padding-left:15px;
  transition: .2s all;
}

div.container-drop div.drop-contents a:active {
  padding-left:5px;
  transition: .2s all;
}

div.container-drop input {
  background:transparent;
  float:left;
  border:none;
  height:25px;
  width:80%;
  text-align:center;
  color:#fff;
}

div.container-drop a.drop-trigger, div.container-drop input {
  border-bottom:1px solid white;
}

div.hidden {
  display:none;
}

input.button {
  border:none;
  padding:10px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background:red;
  color:#fff;
  transition: .2s all;
  cursor:pointer;
  margin: 0 auto;
  text-align:center;
}

input.button:hover {
    padding:10px 15px;
    transition: .2s all;
}
