* {
  margin:0;
  padding:0;
}

body {
  font-family: 'Open Sans';
}

div.container {
  display:block;
  width:250px;
  height:100vh;
  float:left;
}

div.side-menu {
  width:15%;
  background:#202d3a;
}

div.sub-contents {
  width:100%;
  height:93%;
  background:#ecf0f1;
}

div.head, div.header {
  display:block;
  background:#fff;
  height:7%;
  text-align: center;
}

div.head h2 {
  line-height:52px;
}

div.head span {
  font-weight: 100;
}

div.extra {
  padding:20px 25px;
}

div.side-menu h5 {
  padding:5px 0px;
}

div.side-menu a {
  display:block;
  width:100%;
  color:#fff;
  text-decoration:none;
  padding:25px 25px;
  border-bottom:1px solid #2c3e50;
}

div.side-menu a:hover {
  background:#34495e;
  transition: .2s all;
}

div.side-menu a.active {
  border-right:1px solid red;
}

div.content {
  width:85%;
}

div.border-b {
  border-bottom:1px solid #a7b3b7;
}

div.stats {
  width:90%;
  background:#fff;
  margin:0 auto;
  margin-top:25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #d1d1d1;
}

div.stats p.main-display {
  display:block;
  padding:55px 55px 0px 55px;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
}

div.stats p.content-sub {
  display:block;
  text-align:center;
  padding:25px 0px;
  font-size:13px;
}

div.stats div.c-container {
  display:block;
  width:49.869%;
  background:#fff;
  float:left;
  border-bottom:1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.special {
  border-right:1px solid #d1d1d1;
  border-left:1px solid #d1d1d1;
}

div.special-r {
    border-right:1px solid #d1d1d1;
}

div.stats div.c-container h4 {
  display:block;
  padding:15px 25px;
  font-size:25px;
  text-align:center;
}

div.stats div.c-container h5 {
  display:block;
  padding:10px 10px;
  text-align:center;
}

div.splitter {
  border-bottom:1px solid #d1d1d1;
}

div.upload {
  display:inline-block
  width:100%;
}

div.upload h4 {
  font-size:20px;
  display:block;
  width:100%;
  padding:10px 0px;
  text-align: center
}

div.upload form.upload {
  display:block;
  width:70%;
  margin:0 auto;
  margin-bottom:25px;
  text-align: center;
}

div.upload form.upload input {
  display:block;
  padding:2px 0px;
  margin:0 auto;
  margin-top:15px;
}

div.upload form.upload input.textbox {
  border:none;
  border:1px solid #d1d1d1;
  text-align: center;
}

div.upload form.upload input.button {
  color:white;
  -webkit-box-shadow: inset 0px 0px 229px -57px rgba(255,0,0,1);
  -moz-box-shadow: inset 0px 0px 229px -57px rgba(255,0,0,1);
  box-shadow: inset 0px 0px 229px -57px rgba(255,0,0,1);
  border:none;
  padding:10px;
  font-size:12px;
  border:1px solid white;
  text-transform: uppercase;
}

div.contents a {
  display:block;
  text-transform: uppercase;
  font-weight: bold;
  color:#333;
  text-decoration: none;
  padding:10px 55px;
}
