.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid whitesmoke;
    border-radius: 50%;
    border-top: 16px solid #F44336;
    border-bottom: 16px solid #F44336;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animate-bottom;
    -webkit-animation-duration: .5s;
    animation-name: animate-bottom;
    animation-duration: .5s
}

@-webkit-keyframes animate-bottom {
    from {
        bottom: -190px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes animate-bottom {
    from {
        bottom: -190px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}