* {
    padding: 0;
    margin: 0;
    font-family: 'Asap', sans-serif;
}

.left {
    width: 40%;
    height: 100%;
    position: absolute;
    background: #F44336;
    text-align: center;
}

.right {
    left: 40%;
    width: 60%;
    height: 100%;
    position: absolute;
    background: #e5e5e5;
    text-align: center;
    overflow: auto;
}

hr.separator {
    height: 2px;
    background-color: rgba(0.8, 0.8, 0.8, 0.1);
    border: none;
    margin: 25px auto;
    width: 40%;
}

.button {
    background: whitesmoke;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    width: 250px;
}

.flex-center {
    color: whitesmoke;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}