* {
    padding: 0;
    margin: 0;
    font-family: 'Asap', sans-serif;
}

.left {
    width: 40%;
    height: 100%;
    overflow: auto;
    position: absolute;
    background: #F44336;
}

.right {
    left: 40%;
    width: 60%;
    height: 100%;
    position: absolute;
    background: whitesmoke;
    text-align: center;
    overflow: auto;
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.14),
    inset 2px 1px 5px 0 rgba(0, 0, 0, 0.12),
    inset 2px 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.left-content {
    color: whitesmoke;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.right-content {
    text-align: center;
}

hr.content {
    height: 2px;
    background-color: rgba(0.8, 0.8, 0.8, 0.1);
    border: none;
    margin: 25px auto;
    width: 35%;
}

hr.vertical {
    height: 20px;
    background-color: white;
    border: none;
    width: 2px;
    display: inline-block;
}

hr.footer {
    height: 2px;
    background-color: rgba(0.8, 0.8, 0.8, 0.1);
    border: none;
    margin: 10px auto;
    width: 3%;
}

.section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-header {
    font-size: 40px;
}

.footer {
    background: #ededed;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}

a.footer-icon {
    transition: .5s all;
    color: black;
    padding: 0 10px;
    text-decoration: none !important;
}

a.footer-icon:hover {
    transition: .2s all;
}

a.git:hover {
    color: #9a9a9a;
}

a.twitter:hover {
    color: #1DA1F2;
}

a.mail:hover, a.youtube:hover {
    color: red;
}

.button {
    background: whitesmoke;
    color: black;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
    width: 150px;
    transition-duration: 0.2s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.video-image {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 400px;
    height: 250px;
    border-radius: 8px;
    margin: 10px;
}

.video-image span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: url("../static/play.png") no-repeat center center;
    background-size: 96px 96px;
    transition: all 0.2s;
}

.video-image:hover span {
    transform: scale(1.3);
}

.video-image img {
    overflow: hidden;
    position: relative;
    width: 107%;
    left: -9px;
    top: -9px;
    height: 107%;
    border-radius: 8px;
    transition: all 0.2s;
}

.video-image:hover img {
    transform: scale(1.3);
    filter: blur(3px);
}

.card-feature {
    margin: 10px;
    padding: 25px 10px;
    width: 100%;
    max-width: 250px;
    cursor: default;
    transition: .3s all;
    border-radius: 8px;
}

.card {
    display: inline-block;
    padding: 25px 10px;
    width: 100%;
    max-width: 200px;
    cursor: default;
    transition: .4s all;
    border-radius: 8px;
    margin: 0;
}

.card .card-title {
    width: 100%;
    height: fit-content;
    background: red;
    color: #fff;
    padding: 10px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card .card-desc {
    padding: 10px 5px;
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.card .card-social {
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    padding: 5px;
}

.card .card-line {
    border: none;
    border-bottom: 1px solid red;
    width: 85%;
    margin: 0 auto;
}

.shadow {
    transition: 0.2s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}